.filter-container {
  background: #fff;
  background-color: #fff;
  color: #8d8d8d;
  margin: 40px 15px;
}

.store-filter-select__indicator-separator {
  visibility: hidden;
}

.store-filter-select__indicator .store-filter-select__clear-indicator {
  color: #8d8d8d !important;
}

.store-filter-select__single-value {
  color: #8d8d8d !important;
}

.store-filter-select__control {
  height: 50px;

  background: #fff !important;
  background-color: #fff !important;
  box-sizing: border-box;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
}

.store-filter-select__value-container {
  background: #fff !important;
  background-color: #fff !important;
}

.store-filter-select__indicators {
  background: #fff !important;
  background-color: #fff !important;
}

.store-filter-select__value-container {
  background: #fff !important;
  background-color: #fff !important;
}

.store-filter-select__value-container
  .store-filter-select__value-container--has-value {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #8d8d8d;

  mix-blend-mode: normal;
}
