.app-container {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.app-filter-container {
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  width: 300px;
  height: 130px;
  background: #ffffff;
  border-radius: 5px;
}

.app-sales-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;

  width: 300px;
  margin-bottom: 10px;
}

.app-sales-sum {
  margin-bottom: 10px;
}

.app-sales-sum-value {
  padding-left: 15px;
  padding-top: 40px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  display: flex;
  align-items: center;
  color: #334ac4;
}

.app-sales-sum-title {
  padding-left: 15px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #8d8d8d;
}

@media (min-width: 576px) {
  .app-filter-container {
    margin: 40px;
    width: 496px;
    padding-left: 40px;
  }

  .app-sales-container {
    margin: 40px;
    width: 496px;
  }

  .app-sales-sum-value {
    margin-left: 40px;
  }
  .app-sales-sum-title {
    margin-left: 40px;
  }
}

@media (min-width: 768px) {
  .app-filter-container {
    margin: 40px;
    width: 698px;
  }

  .app-sales-container {
    margin: 40px;
    width: 698px;
  }

  .app-sales-sum-value {
    margin-left: 40px;
  }
  .app-sales-sum-title {
    margin-left: 40px;
  }
}

@media (min-width: 992px) {
  .app-sales-container {
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  .app-filter-container {
    margin: 40px;
    width: 960px;
    padding-left: 40px;
  }

  .app-sales-container {
    margin: 40px;
    width: 960px;
  }

  .app-sales-sum-value {
    margin-left: 40px;
  }
  .app-sales-sum-title {
    margin-left: 40px;
  }
}
