* {
  box-sizing: border-box;
}

:root {
  --primary-color: #d9dbe4;
  --secondary-color: #ffffff;
  --light-color: #334ac3;
  --grey-light-50-color: #9aaabe;
  --grey-light-100-color: #949494;
  --grey-light-125-color: #72849a;
  --grey-light-150-color: #384459;

  --green-color: #08b976;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background: var(--primary-color);
  border-radius: 10px;
}
